<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="safra">
            <h2><span>Safra</span> {{safra.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Alcunha</span></dt>
                <dd>
                    <span>{{safra.alcunha}}</span>
                </dd>
                <dt><span>Data Inicio</span></dt>
                <dd>
                    <span>{{safra.dataInicio}}</span>
                </dd>
                <dt><span>Data Fim</span></dt>
                <dd>
                    <span>{{safra.dataFim}}</span>
                </dd>
                <dt><span>Plantio</span></dt>
                <dd>
                    <div *ngIf="safra.plantio">
                        <a [routerLink]="['/plantio', safra.plantio?.id, 'view']">{{safra.plantio?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/safra', safra.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
