<div>
    <h2 id="page-heading">
        <span>Produto Vendas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-produto-venda" [routerLink]="['/produto-venda/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Produto Venda
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="produtoVendas">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Preco</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let produtoVenda of produtoVendas ;trackBy: trackId">
                <td><a [routerLink]="['/produto-venda', produtoVenda.id, 'view' ]">{{produtoVenda.id}}</a></td>
                <td>{{produtoVenda.preco}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/produto-venda', produtoVenda.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/produto-venda', produtoVenda.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'produto-venda', { outlets: { popup: produtoVenda.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
