<div>
    <h2 id="page-heading">
        <span>Plantios</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-plantio" [routerLink]="['/plantio/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Plantio
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="plantios">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Data Plantio</span></th>
            <th><span>Data Previsao Colheita</span></th>
            <th><span>Quantidade Plantado</span></th>
            <th><span>Talhao</span></th>
            <th><span>Cultura</span></th>
            <th><span>Colheita</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let plantio of plantios ;trackBy: trackId">
                <td><a [routerLink]="['/plantio', plantio.id, 'view' ]">{{plantio.id}}</a></td>
                <td>{{plantio.dataPlantio | date:'mediumDate'}}</td>
                <td>{{plantio.dataPrevisaoColheita | date:'mediumDate'}}</td>
                <td>{{plantio.quantidadePlantado}}</td>
                <td>
                    <div *ngIf="plantio.talhao">
                        <a [routerLink]="['../talhao', plantio.talhao?.id, 'view' ]" >{{plantio.talhao?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="plantio.cultura">
                        <a [routerLink]="['../cultura', plantio.cultura?.id, 'view' ]" >{{plantio.cultura?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="plantio.colheita">
                        <a [routerLink]="['../colheita', plantio.colheita?.id, 'view' ]" >{{plantio.colheita?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/plantio', plantio.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/plantio', plantio.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'plantio', { outlets: { popup: plantio.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
