<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="talhao">
            <h2><span>Talhao</span> {{talhao.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nome</span></dt>
                <dd>
                    <span>{{talhao.nome}}</span>
                </dd>
                <dt><span>Geometria</span></dt>
                <dd>
                    <span>{{talhao.geometria}}</span>
                </dd>
                <dt><span>Fazenda</span></dt>
                <dd>
                    <div *ngIf="talhao.fazenda">
                        <a [routerLink]="['/fazenda', talhao.fazenda?.id, 'view']">{{talhao.fazenda?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/talhao', talhao.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
