<div>
    <h2 id="page-heading">
        <span>Fazendas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-fazenda" [routerLink]="['/fazenda/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Fazenda
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="fazendas">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Nome</span></th>
            <th><span>Municipio</span></th>
            <th><span>Area</span></th>
            <th><span>Geometria</span></th>
            <th><span>Produtor</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let fazenda of fazendas ;trackBy: trackId">
                <td><a [routerLink]="['/fazenda', fazenda.id, 'view' ]">{{fazenda.id}}</a></td>
                <td>{{fazenda.nome}}</td>
                <td>{{fazenda.municipio}}</td>
                <td>{{fazenda.area}}</td>
                <td>{{fazenda.geometria}}</td>
                <td>
                    <div *ngIf="fazenda.produtor">
                        <a [routerLink]="['../produtor', fazenda.produtor?.id, 'view' ]" >{{fazenda.produtor?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/fazenda', fazenda.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/fazenda', fazenda.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'fazenda', { outlets: { popup: fazenda.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
