<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="produtoAgricola">
            <h2><span>Produto Agricola</span> {{produtoAgricola.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nome</span></dt>
                <dd>
                    <span>{{produtoAgricola.nome}}</span>
                </dd>
                <dt><span>Produto Venda</span></dt>
                <dd>
                    <div *ngIf="produtoAgricola.produtoVenda">
                        <a [routerLink]="['/produto-venda', produtoAgricola.produtoVenda?.id, 'view']">{{produtoAgricola.produtoVenda?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/produto-agricola', produtoAgricola.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
