<div>
    <h2 id="page-heading">
        <span>Vendas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-venda" [routerLink]="['/venda/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Venda
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="vendas">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Data Venda</span></th>
            <th><span>Produto Venda</span></th>
            <th><span>Cliente</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let venda of vendas ;trackBy: trackId">
                <td><a [routerLink]="['/venda', venda.id, 'view' ]">{{venda.id}}</a></td>
                <td>{{venda.dataVenda | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="venda.produtoVenda">
                        <a [routerLink]="['../produto-venda', venda.produtoVenda?.id, 'view' ]" >{{venda.produtoVenda?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="venda.cliente">
                        <a [routerLink]="['../cliente', venda.cliente?.id, 'view' ]" >{{venda.cliente?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/venda', venda.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/venda', venda.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'venda', { outlets: { popup: venda.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
