<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="colheita">
            <h2><span>Colheita</span> {{colheita.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Data Colheita</span></dt>
                <dd>
                    <span>{{colheita.dataColheita}}</span>
                </dd>
                <dt><span>Produtividade</span></dt>
                <dd>
                    <span>{{colheita.produtividade}}</span>
                </dd>
                <dt><span>Produto Agricola</span></dt>
                <dd>
                    <div *ngIf="colheita.produtoAgricola">
                        <a [routerLink]="['/produto-agricola', colheita.produtoAgricola?.id, 'view']">{{colheita.produtoAgricola?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/colheita', colheita.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
